<div class="container-fluid">
	<div class="row">
		<div class="white heading col-lg-4 col-lg-offset-7 col-md-4 col-md-offset-7 col-sm-5 col-sm-offset-6 col-xs-5 col-xs-offset-6">Experience</div>
		<div class="light-purple heading col-lg-4 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-5 col-sm-offset-7 col-xs-12">Better Hair</div>
	</div>

	<div class="row">
		<div class="col-lg-3 col-lg-offset-9 col-md-3 col-md-offset-9 col-sm-3 col-sm-offset-9 col-xs-4 col-xs-offset-8" style="position: absolute; bottom: 35px;">
			<%= image_tag "nicole_meacham_hair.png", alt: "Nicole Meacham Hair Logo", class: "img-responsive" %>
		</div>
	</div>
</div>