<div class="container" style="min-height: 300px;">
	<div class="contact">
		<h1>Nicole Meacham</h1>
		<h3>Hair Stylist at Hair Zone Barbers & Beauty</h3>
		<p>144 Brigham Road #3<br />St. George, UT 84790<br />Cell: 435.619.2958<br />Salon: 435.628.1097</p>
		<p>Walk-in Hours: 10:00 am - 3:00 pm Monday through Saturday<br />Other times available by appointment</p>
	</div>
</div>