<div class="container" style="min-height: 300px;">
	<div class="contact">
		<h1>Nicole Meacham</h1>
		<h3>Hair Stylist at Thairapy Hair Co.</h3>
		<p>334 W. Tabernacle #A<br />St. George, UT 84770<br />Cell: 435.619.2958</p>
	</div>
</div>